.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
/data/*.csv
/data/*.rds
/data/labels/*.csv
/_targets
/exports
/data/outcomes*
/data/archive-labels/*.csv
/data/archive-labels/labels/*.csv
data/archive-labels/outcomes-2021-09-09/
